#cart1 {
    text-align: center;
    align-self: center;
    color:#26325a;
    background-image: url("https://res.cloudinary.com/dl0hsgmfc/image/upload/v1632356676/tacotavern/background-cover-cart-2.jpg");
    background-size:cover;
    background-position: center;
    padding:80px;
    min-height: 50rem;
}

.table{
    background-color: aliceblue;
}
#producttable {

}

#pricetable {
    float: right;
}