.header {
    min-height: 200px;
    background: #c0b514;
    position: relative;
  }
  
  .header span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #c0b514;
  }