
  body {
    font-family: 'Ubuntu', sans-serif;
    
  }
  
  #profilepic{
    position: relative;
    left: 615px;
    top: -162px;
    height: 125px;
    cursor: pointer;
  }

  .header {
    display:flex;
    flex-direction:wrap;
    flex-wrap: wrap;
    width: 100%;
    height:250px;
    background-image: url("../../assets/redback.jpeg");
    background-size: cover;
border-bottom: 20px solid #25335a;
  
  }

  #logo {
    position: relative;
    z-index: 1;
    margin-top: 3%;
    cursor: pointer;
  }

  #whitespace {
    padding-left:20px;
    flex:2;
    text-align: center;
    align-self: center;
    flex-direction: row;
  }

  #pleasework{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21px;
    left: 418px;
  }

  /* #whitespace2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 363px;
    top: 84px;
  } */

  #idkwork {
    display: flex;
    position: relative;
    top: 79px;
    left: 492px;
  }

  .btnHeader {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    left: 30%;
    color: #fdfdfd;
    background-color:#26325a;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border-radius: 1rem;
    border-style: none;
   
}
.btnHeader:hover{
    background: #26325a;
    color: white;
    box-shadow: 0 0 5px #26325a,
                0 0 25px #26325a,
                0 0 50px #26325a,
                0 0 200px #26325a;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.btnHeaderLogin {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin: 10px;
  color: #fdfdfd;
  background-color:#26325a;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  border-radius: 1rem;
  border-style: none;
 
}

.btnHeader:hover{
  background: #26325a;
  color: white;
  box-shadow: 0 0 5px #26325a,
              0 0 25px #26325a,
              0 0 50px #26325a,
              0 0 200px #26325a;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/* @media screen and (max-width:1250px) {

  .btnHeader {
    left:5px;
    margin-right: 10px;
  }

} */

@media screen and (min-width:1150px) {


  #idkwork {
    display: flex;
    position: relative;
    top: 79px;
    left: 322px;
  }

  #whitespace {
    padding-left:20px;
    flex:2;
    text-align: center;
    align-self: center;
    flex-direction: row;
  }

}

@media screen and (max-width:1150px) and (min-width: 800px){


  #idkwork {
    left: 92px;
  }

  #profilepic {
    left: 267px;
  } 

  #whitespace {
    padding-left:20px;
    flex:2;
    text-align: center;
    align-self: center;
    flex-direction: row;
  }

  #pleasework {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21px;
    left: 92px; 
  }

}
/* 
@media screen and (max-width:900px) and (min-width: 800px) {

  #pleasework {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21px;
    left: 92px; 
  }

  #profilepic {
    left: 267px;
  } 

} */

@media screen and (max-width:799px) {
  
  #pleasework {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 21px;
    left: 167px;
  }

  #profilepic {
    display:none;
  }

  #idkwork {

    top: 67px;
    left: 89px;
  }
}

@media screen and (max-width:530px) {

  
  #idkwork {
    display: flex;
    position: none;
    flex-direction: column;
    top: 0px;
    left: 0px;
  }

  .header{
    height:444px;
  }

  .whitespace {
    display:flex;
    flex-direction: column;
    padding-left: 50px;
    height:600px;
  }
  
  #logo {
    height: 160px;
    width: auto;
   
  }

  .btnHeaderLogin {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 3% 1%;
    height:auto;
    width:300px;
  }

  #profilepic {
    align-self: center;
    height: 130px;
    padding-left: 25px;
    float:none;
    padding-right: 0%;
  }

  .whitespace2 {
    display:flex;
    flex-direction: column;
    padding-left: 50px;
  }

  #profilepic {
    display:none;
  }

  #pleasework {
    top: 47px;
    left: -2px;
  }

}

