#menu {
   background-image: url("../../assets/slate\ background.jpeg");
   color:white;
   text-align: left;
    justify-content: center;
}

.menuitem{

}

.dish {

}

.description {

}

.price {

}

.moreInfoBtn {

}

.addCartBtn {

}